$red : red;

.btn-primary {
  color: white !important;
  background-color: $red !important;
  text-decoration: none;
  text-align: center;
  padding: 7px 28px !important;
  border-radius: 30px;
  font-weight: bold;
}

.btn-outline{
  color: $red !important;
  font-weight: bold;
  border: 1px solid $red;
  border-radius: 30px ;
  padding: 7px 28px !important;
}

.btn-second{
  color: $red !important;
  background-color: seashell;
  border-radius: 30px ;
  padding: 7px 28px !important;
}