


.rotate{
  transform: rotate(-10.07deg);
}

.Pages1Text{
  h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 122%;
  }
  h3 {
      color: red;
  font-weight: 600;
  font-size: 29px;
  line-height: 39.04px;
  }
  p {
    font-size: 20px;
    line-height: 215%;
    text-transform: capitalize;
  }
}