@import '../assets/scss/general.scss';

.LandingText{
  h1 {
    font-weight: 700;
    font-size: 39px;
    line-height: 122%;
  }
  h3 {
    color: red;
    font-weight: 700;
    font-size: 32px;
    line-height: 39.04px;
  }
  p {
    font-size: 20px;
    line-height: 215%;
    text-transform: capitalize;
  }
}
